# ignore ALL files in ANY directory named temp but keep the .gitkeep temp folder
temp/*
!temp/.gitkeep

# ignore ALL files in ANY directory named log or _log but keep the .gitkeep log folder
log/*
!log/.gitkeep
_log/*

# ignore ALL files in ANY directory named db
db/

# ignore ALL files in ANY directory named backups
backups/

# ignore ALL files in ANY directory named nbproject - Netbeans and PHPStorm files
nbproject/
.idea/

# ignore config files with passwords
app/config/config.local.neon
app/config/config.neon

# ignore the original authenticator
app/authenticator/MyAuthenticator.php

# ignore the composer dependencies
vendor/

# ignore the pictures uploaded in the deployment web version
www/images

# ignore the web sitemap
www/sitemap.xml


