{import 'pravidla.latte'}
{block title}
ATS Blansko - amatérské tenisové soutěže okresu Blansko - pravidla tenisových soutěží
{/block}
{block meta}
Amatérské tenisové soutěže okresu Blansko - aktuální pravidla, podle kterých jsou provozovány ATS Blansko
{/block}
{block heading}
PRAVIDLA
{/block}
{block heading2}
SOUTĚŽÍ
{/block}
{block css_web}
{include parent}
{/block}
{block content}
{include pravidla}
{/block}