{import '../../../templates/roleLogForms.latte'}
{block title}
ATS Blansko - Úprava oprávnění
{/block} 
{block formTitle}
Úprava oprávnění
{/block}
{block formInfo}
Zde můžete upravit oprávnění příslušného uživatele.
{/block}
{block formTitleDetail}
Upravit oprávnění uživatele
{/block}
{block container}      
{include parent}
{/block}