{import '../../../templates/roleLogForms.latte'}
{block title}
ATS Blansko - Vložení oprávnění
{/block} 
{block formTitle}
Vložení oprávnění
{/block}
{block formInfo}
Zde můžete přidat oprávnění k vybranému uživateli.
{/block}
{block formTitleDetail}
Přidat oprávnění uživatele
{/block}
{block container}      
{include parent}
{/block}