{import '../../../templates/userForms.latte'}
{block title}
ATS Blansko - Úprava uživatele
{/block} 
{block formTitle}
Úprava uživatele
{/block}
{block formInfo}
Zde můžete upravit údaje požadovaného uživatele. Rovněž jej můžete deaktivovat pro přístup do systému.
{/block}
{block formTitleDetail}
Upravit uživatele
{/block}
{block container}      
{include parent}
{/block}