{import '../../../templates/basicForms.latte'}
{block title}
ATS Blansko - Editace
{/block}
{block formTitle}
Menu editace
{/block}
{block formInfo}
Vítejte v editačním menu, můžete provádět operace dle přidělených přístupových práv
{/block}
{block table}
{/block}