{import '../../../templates/clubForms.latte'}
{block title}
ATS Blansko - Vložení nového hráče
{/block}
{block formTitle}
Vložení nového klubu
{/block}
{block formInfo}
Zde můžete vložit nový klub do databáze. Jeho působení v soutěži můžete poté provést v podmenu působení klubu
{/block}
{block formTitleDetail}
Vložit nový klub
{/block}
{block container}
{include parent}
{/block}