{import '../../../templates/membershipForms.latte'}
{block title}
ATS Blansko - Nové členství klubu
{/block}
{block formTitle}
Nové členství klubu v soutěži
{/block}
{block formInfo}
Zde můžete vkládat nové členství klubu v soutěži.
{/block}
{block formTitleDetail}
Vložit členství klubu
{/block}
{block container}
{include parent}
{/block}