{import '../../../templates/membershipForms.latte'}
{block title}
ATS Blansko - Úprava členství klubu
{/block}
{block formTitle}
Úprava členství klubu v soutěži
{/block}
{block formInfo}
Zde můžete provádět požadované úpravy v členství. Berte na vědomí, že při chybné změně údajů se tyto změny projeví ve všech dalších sekcích (zápasy, tabulka, atd.)
{/block}
{block formTitleDetail}
Upravit členství klubu
{/block}
{block container}
{include parent}
{/block}