{import '../../../templates/regForms.latte'}
{block title}
ATS Blansko - Nová registrace hráče
{/block}
{block formTitle}
Nová registrace hráče
{/block}
{block formInfo}
Zde můžete vkládat nové registrace hráčů v klubech
{/block}
{block formTitleDetail}
Zaregistrovat hráče
{/block}
{block container}
{include parent}
{/block}