{import '../../../templates/competitionForms.latte'}
{block title}
ATS Blansko - Vložení nové soutěže
{/block}
{block formTitle}
Vložení nové soutěže
{/block}
{block formInfo}
Zde můžete vložit novou soutěž do databáze.
{/block}
{block formTitleDetail}
Vložit novou soutěž
{/block}
{block container}
{include parent}
{/block}