{import '../../../templates/competitionForms.latte'}
{block title}
ATS Blansko - Úprava soutěže
{/block}
{block formTitle}
Úprava soutěže
{/block}
{block formInfo}
Zde můžete provádět požadované úpravy v údajích o dané soutěži. Berte na vědomí, že při změně identifikačních údajů soutěže se tyto změny projeví ve všech dalších sekcích (tabulka, utkání, soutěže)
{/block}
{block formTitleDetail}
Upravit soutěž
{/block}
{block container}
{include parent}
{/block}