{import '../../../templates/compSystemForms.latte'}
{block title}
ATS Blansko - Úprava systémů soutěží
{/block}
{block formTitle}
Úprava herního systému soutěží
{/block}
{block formInfo}
Zde můžete provádět požadované úpravy v herních systémech soutěží. Berte na vědomí, že při chybné změně údajů se tyto změny projeví v sekci vkládání utkání - dle zadaného systému kol.
{/block}
{block formTitleDetail}
Upravit herní systém soutěže
{/block}
{block container}
{include parent}
{/block}