{import '../../../templates/compSystemForms.latte'}
{block title}
ATS Blansko - Vložení systémů soutěží
{/block}
{block formTitle}
Vložení herního systému soutěží
{/block}
{block formInfo}
Zde můžete provádět vkládání herních systémů k soutěžím. Berte na vědomí, že při chybné změně údajů se tyto změny projeví v sekci vkládání utkání - dle zadaného systému kol.
{/block}
{block formTitleDetail}
Vložit herní systém soutěže
{/block}
{block container}
{include parent}
{/block}