{import 'errorTemplate.latte'}
{include errorTemplate}
{define errorCode}
404
{/define}
{define errorTitle}
Stránka nenalezena
{/define}
{define errorText}
Vámi požadovaná stránka nebyla nalezena. Zkontrolujte prosím zadanou adresu,
zda je správná, případně zadaná stránka již také nemusí existovat.
{/define}