{import 'errorTemplate.latte'}
{include errorTemplate}
{define errorCode}
405
{/define}
{define errorTitle}
Nepovolená metoda
{/define}
{define errorText}
Vámi použitá metoda není povolena pro danou URL.
{/define}