{import 'errorTemplate.latte'}
{include errorTemplate}
{define errorCode}
410
{/define}
{define errorTitle}
Stránka odstraněna
{/define}
{define errorText}
Vámi požadovaná stránka byla z webu odstraněna.
{/define}
