{import 'errorTemplate.latte'}
{include errorTemplate}
{define errorCode}
500
{/define}
{define errorTitle}
Obecná chyba 500.
{/define}
{define errorText}
Nezjištěná chyba při procházení webu, obecná chyba 500.
{/define}